<a role="button" href={{url}} class="btn {{btnClass}} admin-box admin-box-{{wait}} col-sm-6 col-md-4" id={{id}} sort={{sort}}>
  <div>
    <h1 class="precinct-name">{{name}}</h1>
    <p>
      <h4 class="wait-time-label">Wait Time:</h4>
      <h4 class="wait-time">{{waitName}}</h4>
      <span class="last-updated-label">Last Updated: </span>
      <span class="last-updated">{{lastUpdated}}</span>
    </p>
  </div>
</a>