<div class="col-xs-6 col-md-4" id={{id}} sort={{sort}}>
  <div class="panel panel-{{waitClass}} wait-time-block">
    <div class="panel-heading">
      <h4 class="center_it precinct-name">{{name}}</h4>
    </div>
    <div class="panel-body">
      <h4 class="wait-time-label">Wait Time: <span class="wait-time label label-{{waitClass}}">{{waitName}}</span></h4>
      <span class="last-updated-label">Last Updated: </span>
      <span class="last-updated">{{lastUpdated}}</span>
    </div>
    <div class="panel-footer">
      <a href="{{url}}" class="btn btn-block btn-primary">Go to this Precinct</a>
    </div>
  </div>
</div>